#regLay {
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 400px;
  font-size: 20px;
  font-family: 'Merienda';
   background-color: white; 
}
#one {
  border-style: dotted;
  border-width: 2px;
  padding: 20px;
  background-color: rgb(255, 197, 151);

}
