#regLay {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  font-size: 20px;
  font-family: 'Merienda';
   background-color: white;  
}
#one {
  border-style: dotted;
  border-width: 2px;
  padding: 20px;
  background-color: rgb(255, 197, 151);

}
